<div class="container">
<p id="notice"><%= notice %></p>

<h1>Countries</h1>

 <p>Sort:
  <%= link_to "by name", countries_path(sort_by: :name) %>
  <%= link_to "by population", countries_path(sort_by: :population) %>
</p>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Population</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= image_tag(country.flag_url(:thumb), :class => "flagPic") unless country.flag_url(:thumb).blank? %></td>
        <td><b><%= country.name %></b></td>
        <td><%= country.population%></td>
        <td><%= country.hiphop%></td>
        <td class="btn"><%= link_to 'Show', country %></td>
        <td class="btn"><%= link_to 'Edit', edit_country_path(country) %></td>
        <td class="btn"><%= link_to 'Delete', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Country', new_country_path, :class => "btn btn-default" %>
</div>
